*{
    font-family:sans-serif;
}

body{
    background-color:#07553B;
    margin:0;
}

header{
    background-color: #CED46A;
    color:#07553B;
    margin-top:-20px;
    padding:20px 0 20px 0;
    text-align:center;
}
header a{
    color:#07553B;
}
header a:hover{
    color:#0a412e;
}

#recipe-container{
    margin:5vw 2vw 5vw 2vw;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.recipe-card{
    background-color:#ffffff;
    color:#07553B;
    width:25vw;
    border-radius:20px;
    text-align:center;
    padding-bottom: 20px;
    box-shadow: #1a1a1a 0 20px 20px;
}

.recipe-card img{
    width:100%;
    height:auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom:12px;
}
.recipe-card h2, .recipe-card h3{
    margin:0;
}
.recipe-card h3{
    font-weight:400;
}
.recipe-card button{
    background-color:#CED46A;
    color:#07553B;
    margin-top:12px;
    padding:10px;
    border:0;
    font-weight:700;
}

.recipe-card button:hover{
    box-shadow: #1a1a1a 0 5px 5px;
    cursor:pointer;
}

#recipe-page{
    margin-top:5vh;
    display:flex;
    justify-content:center;
}
.recipe{
    border:#CED46A 10px solid;
    width:60vw;
    background-color:white;
    border-radius:30px;
}
.recipe .description{
    padding:10px 20px 10px 20px;
}
.recipe h2{
    color:#07553B;
    text-transform:uppercase;
}
.recipe .guide{
    border-top:5px solid #07553B;
    display:flex;
    flex-direction:row;
    padding: 0 20px 0 20px;
}

.recipe .steps{
    border-left:5px solid #07553B;
    padding-left:16px;
}
.recipe .ingredients{
    padding-right:16px;
}

.image-banner{
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    margin-bottom:10px;
    height:30vh;
    background-position: center center;
    background-size: cover;
}